#Birth{
    display: none;
}
#BDY{
    height: 300px;
    Width: 300px;
    border-width:10px;
    border-style:ridge;
    display:none;
}
#song{
    display:none;
}
#and{
    display:none;
}